*.orig
*.o
*.a
.*
/dat/options
/include/date.h
/include/onames.h
/include/pm.h
/include/vis_tab.h
/src/Sysunix
/src/config.h-t
/src/hack.h-t
/src/monstr.c
/src/nethacked
/src/vis_tab.c
makedefs
*_comp
/util/dgn_comp.*
/util/dgn_yacc.*
/util/lev_comp.*
/util/y.tab.*

